figure {
  position: relative;
}

/* Quotes */
blockquote {
  position: absolute;
  padding: 0.5em 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  
  color: #888;
  font-family: 'Open Sans';
  font-size: 2em;
  
  opacity: 0;
}
blockquote:before {
  content: '';
  position: absolute;
  top: 0%;
  width: 0%;
  
  border-top: 1px solid #47A3DA;
  
  animation: bar 9s linear forwards infinite;
}

/* Attribution */
cite {
  display: block;
  margin: 1em 0;
  color: #47A3DA;
  font-size: 0.5em;
}
cite:before {
  content: '\2014';
}

@keyframes bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* Animations */
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

/* Animation classes */
.fade-in  { animation: fade-in 1s ease forwards; }
.fade-out { animation: fade-out 1s ease forwards; }
